<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Find by description</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

        <script>
            function copyToClipboard() {
              const outputText = document.getElementById("res").innerText;
              navigator.clipboard.writeText("localhost:5000/short/"+outputText).then(function() {
                console.log("Text copied to clipboard");
              }, function(err) {
                console.error("Error copying text to clipboard:", err);
              });
            }
            function copyToClipboard1() {
              const outputText = document.getElementById("res1").innerText;
              navigator.clipboard.writeText(outputText).then(function() {
                console.log("Text copied to clipboard");
              }, function(err) {
                console.error("Error copying text to clipboard:", err);
              });
            }
          </script>

    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg  navbar-light bg-light"">
                <a class="navbar-brand" href="/">URL Shortener</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/list">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/findbyfull">Find by full URL</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/findbyshort">Find by shortened URL</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/findbydescription">Find by note</a>
                  </li>
                    
                    
                  </ul>
                 
                </div>
            </nav>





            <form action="/findbydescription" method="post" class="my-4 form-inline">
                <div class="form-group">
                    <label for="findbydescription" class="sr-only">Enter the note</label>
                    <textarea required placeholder="Note"  required rows = "5" cols = "50" input="String" class="col form-control" name="findbydescription" id="findbydescription"></textarea><br>
                    <button type="submit" class="btn btn-primary">Submit</button><br><br>
                    <label for="res1">Full URL</label>
                    <output class="col form-control" id="res1" name="res1" ><%= resdescriptiontofull %></output><br>
                    <button class="btn btn-primary" onclick="copyToClipboard1()">Copy</button><br><br>
                    <label for="res">Shortened URL</label>
                    <output class="col form-control" id="res" name="res" ><a  href="short/<%= resdescriptiontoshort %>" ><%= resdescriptiontoshort %></a></output><br>
                    <button class="btn btn-primary" onclick="copyToClipboard()">Copy</button><br><br>
                    
                    
                </div>
            </form>
        </div>
    </body>
</html>